
<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <param name="robot_description" textfile="$(find robotic_arm)/urdf/simple_arm.urdf"/>

    <node pkg="gazebo_ros" type="spawn_model" name="simple_arm_spawn" respawn="false" args="-urdf -model robotarm -param robot_description"/>

    <rosparam file="$(find robotic_arm)/config/controller.yaml"/>
    <node pkg="controller_manager" type="spawner" name="controller_spawner" args="arm_controller"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>


</launch>